body {
  margin: 0;
  font-family: "NanumSquareNeo", sans-serif;
  background-color: #dcd6b7;

  align-items: center;
  display: flex;
  justify-content: center;
}
.container {
  width: 1440px;
  height: 1024px;
  position: relative;
  background: #dcd6b7;
  margin: 0 auto;
}

.box {
  display: flex;
  flex-direction: row; /* 기본값으로 가로 정렬 */
  gap: 20px; /* 박스 간 간격 */
  justify-content: space-between; /* 양쪽 정렬 */
  align-items: flex-start; /* 상단 정렬 */
}

.circle {
  width: 396px;
  height: 396px;
  position: absolute;
  background: #8fbfc9;
  border-radius: 9999px;
  left: -83px;
  top: 45px;
}
.title {
  color: black;
  font-size: 30px;
  font-weight: 1000;
  margin: 50px 0 50px 50px;
  margin-left: -200px;
  word-wrap: break-word;
}

.description {
  color: black; /* 텍스트 색상 */
  font-size: 24px; /* 폰트 크기 */
  font-weight: 700; /* 기본 가중치 */
  margin: 0 0 20px 50px; /* 좌측 마진 */
  margin-left: -200px;
  text-align: left; /* 텍스트 좌측 정렬 */
  word-wrap: break-word; /* 긴 텍스트 줄바꿈 */
  line-height: 1.8;
}

.left-box {
  width: 1200px;
  height: 1000px;
  margin-bottom: 100px;
  margin-right: 50px;
  background: #d9d9d9;
}
.left-box-text {
  width: 142.09px;
  height: 21px;
  color: black;
  font-size: 20px;
  font-weight: 1000;
  word-wrap: break-word;
}
.right-box {
  width: 650px;
  height: auto;
  left: 802px;
}
.right-box-top {
  background: none;
  margin-bottom: 50px;
  min-height: 500px;
}
.right-box-bottom {
  background: none;
}

.right-box-text {
  width: 600px;
  height: 5px;
  color: black;
  font-size: 24px;
  font-weight: 1000;
  margin-bottom: 30px;
  word-wrap: break-word;
}
/* 새로 추가한 스타일 */
.iframe-container {
  width: 1400px;
  height: 1200px;
  margin-left: -200px;
  display: flex;
  border: 1px solid #ccc;
}

/* 버튼 스타일*/
.view-graph-button {
  position: absolute;
  bottom: -580px;
  right: 50%;
  transform: translateX(
    -40%
  ); /*버튼 너비의 절반만큼 왼쪽으로 이동해 중앙 정렬*/
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  background-color: #77ace4; /* 파란색 배경 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 6px reba(0, 0, 0, 0.1);
  text-decoration: none;
}

.view-graph-button:hover {
  background-color: #0056b3; /* 호버 시 진한 파란색 */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.view-graph-button:active {
  background-color: #003d80; /* 클릭 시 더 진한 파란색 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

iframe {
  width: 100%;
  height: 100%;
}

.home-button {
  position: fixed; /* 화면에 고정 */
  width: 50px; /* 버튼 너비 */
  height: 50px; /* 버튼 높이 */
  background-color: white;
  bottom: 20px; /* 화면 하단에서 20px 간격 */
  left: 24px; /* 왼쪽에서 24px 간격 */
  border-radius: 50%; /* 버튼을 원형으로 만들기 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  display: flex; /* 아이콘을 중앙에 정렬하기 위해 Flexbox 사용 */
  justify-content: center;
  align-items: center;
  font-size: 20px; /* 아이콘 크기 */
  color: black; /* 아이콘 색상 */
  z-index: 1000; /* 지도 위로 올리기 */
}

.home-button:hover {
  background-color: #f0f0f0; /* 호버 시 배경색 */
  cursor: pointer; /* 포인터 커서 */
  color: #007bff; /* 호버 시 아이콘 색상 */
}

.home-button i {
  font-size: 20px; /* 아이콘 크기 */
}

.back-button {
  position: fixed; /* 화면에 고정 */
  width: 50px; /* 버튼 너비 */
  height: 50px; /* 버튼 높이 */
  background-color: white;
  bottom: 20px; /* 화면 하단에서 20px 간격 */
  left: 90px; /* 홈 버튼 오른쪽에 위치 */
  border-radius: 50%; /* 버튼을 원형으로 만들기 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  display: flex; /* 아이콘을 중앙에 정렬하기 위해 Flexbox 사용 */
  justify-content: center;
  align-items: center;
  font-size: 20px; /* 아이콘 크기 */
  color: black; /* 아이콘 색상 */
  z-index: 1000; /* 지도 위로 올리기 */
}

.back-button:hover {
  background-color: #f0f0f0; /* 호버 시 배경색 */
  cursor: pointer; /* 포인터 커서 */
  color: #007bff; /* 호버 시 아이콘 색상 */
}

.back-button i {
  font-size: 20px; /* 아이콘 크기 */
}

.description-text {
  color: red; /* 회색 텍스트 색상 */
  font-size: 20px; /* 텍스트 크기 */
  font-weight: 700;
  text-align: left; /* 텍스트 중앙 정렬 */
  margin: 20px 0; /* 위아래 여백 */
  margin-left: 0px;
  line-height: 1.5; /* 텍스트 줄 간격 */
}

.popup-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 620px;
  height: 100%;
  background: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%); /* 초기 상태에서 화면 밖 */
}

.popup-container.hidden {
  transform: translateX(100%); /* 숨김 상태 */
}

.popup-container.visible {
  transform: translateX(0); /* 화면에 표시 */
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

#popup-frame {
  width: 100%;
  height: 100%;
  border: none;
}
