body {
    background-color: #DCD6B7;
    margin: 0;
    font-family: 'NanumSquare Neo', sans-serif;
  }
  
  .artist-home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .background-circle {
    position: absolute;
    width: 396px;
    height: 396px;
    background: #8FBFC9;
    border-radius: 50%;
    left: -83px;
    top: 45px;
  }
  
  .description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .main-title {
    color: black;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  
  .description-text {
    color: black;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    word-wrap: break-word;
  }
  
  .button-section {
    display: flex;
    justify-content: center;
    gap: 100px; /* 버튼 간 간격 */
    margin-bottom: 50px;
  }
  
  .action-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #EBEFB2;
    border-radius: 48px;
    font-size: 18px;
    font-weight: 700;
    color: #033c73;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .action-button:hover {
    background-color: #8FBFC9;
  }
  
  .graph-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
  
  .graph-section iframe {
    max-width: 90%;
    max-height: 800px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .home-button {
    position: absolute;
    width: 45px;
    height: 39px;
    background-color: white;
    bottom: 20px;
    left: 24px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
  