body {
  margin: 0;
  font-family: "NanumSquare Neo", sans-serif;
  background-color: #dcd6b7;

  align-items: center;
  display: flex;
  justify-content: center;
}
.container {
  width: 1440px;
  height: 1024px;
  position: relative;
  background: #dcd6b7;
  margin: 0 auto;
}

.box {
  display: flex;
  gap: 20px;
}

.circle {
  width: 396px;
  height: 396px;
  position: absolute;
  background: #8fbfc9;
  border-radius: 9999px;
  left: -83px;
  top: 45px;
}
.title {
  color: black;
  font-size: 24px;
  font-weight: 700;
  margin: 50px 0 50px 50px;
  word-wrap: break-word;
}

.left-box {
  width: 1000px;
  height: 808px;
  background: #d9d9d9;
}
.left-box-text {
  width: 142.09px;
  height: 21px;
  color: black;
  font-size: 15px;
  font-weight: 700;
  word-wrap: break-word;
}
.right-box {
  width: 507.8px;
  height: 370px;
  left: 802px;
}
.right-box-top {
  background: #d9d9d9;
  margin-bottom: 20px;
}
.right-box-bottom {
  background: #d9d9d9;
}
.right-box-top-text {
  width: 165px;
  height: 5px;
  color: black;
  font-size: 15px;
  font-weight: 700;
  word-wrap: break-word;
}
.right-box-bottom-text {
  width: 165px;
  height: 5px;
  color: black;
  font-size: 15px;
  font-weight: 700;
  word-wrap: break-word;
}
/* 새로 추가한 스타일 */
.iframe-container {
  width: 1000px;
  height: 800px;
  display: flex;
  border: 1px solid #ccc;
}

/* 버튼 스타일*/
.view-graph-button {
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(-60%); /*버튼 너비의 절반만큼 왼쪽으로 이동해 중앙 정렬*/
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  background-color: #007BFF; /* 파란색 배경 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 6px reba(0,0,0,0.1);
}

.view-graph-button:hover {
  background-color: #0056b3; /* 호버 시 진한 파란색 */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2)
}

.view-graph-button:active {
  background-color: #003d80; /* 클릭 시 더 진한 파란색 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

iframe {
  width: 100%;
  height: 100%;
}
